In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('PlayTennis.csv')
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()

In [5]:
df = df.apply(le.fit_transform)
x= df.iloc[:,:4]
y= df.iloc[:,-1]
df

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [6]:
from sklearn.naive_bayes import BernoulliNB
nb_ber = BernoulliNB()
nb_ber.fit(x,y)
nb_ber.predict([[1,2,0,1]])

nb_ber.predict_proba([[1,2,0,1]])

array([[0.75153675, 0.24846325]])